<section>
  <img src = "{{avatar}}"/>
  <h3><a href="index/{{name}}">{{name}}</a></h3>
  {{#job}}
  <h5>{{job}}, {{company}}</h5>
  {{/job}}
  {{^job}}
  <p>Available For Hire</p>
  {{/job}}

</section>
