<!DOCTYPE html>
<html>
  <head>
    <title>Add User</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <header id="header">
      <h1>Fill In Information Below and Submit</h1>
    </header>
    <main>
      <form action="/addUser" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name"><br>
        <label for="username">Userame: </label>
        <input type="text" name="username"><br>
        <label for="password">Password: </label>
        <input type="password" name="password"><br>
        <label for="avatar">Picture URL: </label>
        <input type="text" name="avatar"><br>
        <label for"city">City: </label>
        <input type="text" name="city"><br>
        <label for"country">Country: </label>
        <input type="text" name="country"><br>
        <label for="job">Job: </label>
        <input type="text" name="job"><br>
        <label for="company">Company: </label>
        <input type="text" name="company"><br>
        <label for="email">Email: </label>
        <input type="email" name="email"><br>
        <label for="phone">Phone: </label>
        <input type="text" name="phone"><br>
        <label for="university">University: </label>
        <input type="text" name="university"><br>
        <label for="skills">Skills: </label>
        <input type="text" name="skills">
        <input type="text" name="skills">
        <input type="text" name="skills">
        <br>
        <button type="submit" name="addButton" value="">Add User</button>
      </form>
    </main>
  </body>
</html>
