<!DOCTYPE html>
<html>
  <head>
    <title>User Directory</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>
    <header id="header">
      <h2>User Directory Index Page</h2>
      <h3><a href="/jobs">Bots With Jobs</a></h3>
      <h3><a href="/nojobs">Bots Looking For Work</a></h3>
    </header>
    <main>
      <div class = "container">
        {{#users}}
          {{>_user}}
        {{/users}}
      </div>
    </main>
  </body>
</html>
