<!DOCTYPE html>
<html>
  <head>
    <title>Single User</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header id="header">
    </header>
    <main>
      <div class = "single-container">
        <div class = "top-left">
          {{#message}}
            <h2>{{message}}</h2}
          {{/message}}
          <img src="{{avatar}}" class = "round">
        </div>
        <div class = "top-right">
          <h1>{{name}}</h1>
          {{#job}}
          <p>{{#address.city}}{{address.city}}, {{/address.city}}{{address.country}} | {{job}}, {{company}}</p>
          {{/job}}
          {{^job}}
          <p>{{#address.city}}{{address.city}}, {{/address.city}}{{address.country}} | <span>Available For Hire</span></p>
          {{/job}}
          <p>{{email}} | {{phone}}</p>
        </div>
        <div class = "bottom-left">
          {{#university}}<p>Education</p>{{/university}}
          <p>Skills</p>
        </div>
        <div class = "bottom-right">
          {{#university}}<p>{{university}}</p>{{/university}}
          {{#skills}}
          <p>{{.}}</p>
          {{/skills}}
        </div>
      </div>
      <div class="sign-up">
        <h3>Enter a Password Below and Click Create Account or Login as Appropriate</h3>
        <form action="/index/{{name}}" method="POST">
          <input type="password" name="password" placeholder="Password Here">
          <button type="submit" name="login" value="{{name}}">Log In</button>
          <button type="submit" name="create" value="{{name}}">Create Account</button>
        </form>
      </div>
    </main>
  </body>
</html>
