<!DOCTYPE html>
<html>
  <head>
    <title>Single User</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header id="header">
    </header>
    <main>
      <div class = "single-container">
        <div class = "top-left">
          <img src="{{avatar}}" class = "round">
        </div>
        <div class = "top-right">
          <h1>{{name}}</h1>
          <p>{{address.city}}, {{address.country}} | {{job}}, {{company}}</p>
          <p>{{email}} | {{phone}}</p>
        </div>
        <div class = "bottom-left">
          <p>Education</p>
          <p>Skills</p>
        </div>
        <div class = "bottom-right">
          <p>{{university}}</p>
          {{#skills}}
          <p>{{.}}</p>
          {{/skills}}
        </div>
      </div>
    </main>
  </body>
</html>
